<body>
    
    <form method="get">
         Password length 8 -80<br>
            <input type="number" id="size" name="size" min="8" max="80"><br>
            <input type="submit" value="submit" formaction="/newpassword"> <br> 
    </form>
    <p></p>
    <textarea disabled id="magic" name="box2" rows="10" cols="120"> <%=@message%></textarea>
    
</body>